* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px;
  background-color: black;
}

.book-container {
  padding: 30px;
}

label, input {
  display: block;
}

label {
  margin-bottom: 20px;
}