*{
  box-sizing: border-box;
}
.header {
  padding: 30px;
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.book-card {
  background-color: rgb(40, 124, 192);
  height: 240px;
  min-width: 200px;
  max-width: 250px;
  color: #000;
  margin: 10px;
  white-space: pre-wrap;
  font-weight: bolder;
  padding: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

button {
  display: block;
  margin: 5px;
}

label, input {
  display: block;
}

label {
  margin-bottom: 20px;
}

button {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 30px;
  border-radius: 8px;
}