*{
  box-sizing: border-box;
}
.header {
  padding: 30px;
  background-color: black;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.book-card {
  background-color: aqua;
  height: 240px;
  width: minmax(200px,300px);
  color: #000;
  margin: 10px;
  white-space: pre-wrap;
  font-weight: bolder;
  padding: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}